<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div>   
        <br> <br>
        <h3> About Me</h3>
        <p style="font-size:18px"> My name is Siddharth and this is my first Djngo project. This project has two part. <br> First: A password generator and second: A word count app. 
        <br> <br>
        Remember, Hope is a good thing, maybe the best of things, and no good thing ever dies. 
        <span style='font-size:20px;'>&#128522; &#128077;</span>
        </p>

        <br>
        <a href = {% url 'home'%} class = 'btn btn-warning'>Home</a>

</div>